<div class="col-6 text-start" style="padding-bottom: 30px;">
    <a asp-controller="Home" asp-action="Create" class="btn btn-primary" style="margin-left: 200px;">
        <i class="bi bi-plus-circle"></i> &nbsp; Add new call log
    </a>
</div>
